# Human Activity Recognition based on Smartphones sensors.
---
<b>MADS-MMS Portfolio-Exam Part 2<br>
Janosch Höfer, 938969</b>

## Table of contents

- [Introduction](#intro) <br>
- [1. Data preparation](#data-prep) <br>
- [2. Parameters](#parameters) <br>
- [3. Model setup and Crossvalidation](#model-setup) <br>
   - [3.1. Bla?](#NN) <br>
- [4. Model Evaluation](#model-eval) <br>
- [5. Results](#results)<br>
- [References](#ref)<br>

## Introduction

bla<br>
Using [[1]](http://archive.ics.uci.edu/ml/datasets/Smartphone-Based+Recognition+of+Human+Activities+and+Postural+Transitions)

In [19]:
# Standard libraries
import os

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# Own classes and functions

---
<a id='data-prep'></a>

## 1. Data preparation

bla

In [18]:
path_to_data = "data"  # dir where the zip has been extracted
experiment_types = ["acc", "gyro"]

In [21]:
labels = pd.read_csv(
    os.path.join(path_to_data, "RawData", "labels.txt"),
    header=None,
    sep=" ",
    names=["experiment_id", "user_id", "activity_id", "start", "end"],
)

In [28]:
labels

      experiment_id  user_id  activity_id  start    end
0                 1        1            5    250   1232
1                 1        1            7   1233   1392
2                 1        1            4   1393   2194
3                 1        1            8   2195   2359
4                 1        1            5   2360   3374
...             ...      ...          ...    ...    ...
1209             61       30            2  13842  14574
1210             61       30            3  14751  15427
1211             61       30            2  15588  16319
1212             61       30            3  16546  17250
1213             61       30            2  17394  18097

[1214 rows x 5 columns]

In [51]:
def create_activity_window(
    path_to_data: str,
    exp_type: str,
    exp_id: int,
    user_id: int,
    activity_id: int,
    start_point: int,
    end_point: int,
) -> pd.DataFrame:
    filename = f"{exp_type}_exp{exp_id:02d}_user{user_id:02d}.txt"
    filedir = os.path.join(path_to_data, "RawData", filename)
    activity = pd.read_csv(filedir, sep=" ", header=None, names=["x", "y", "z"])[start:end]
    return activity

In [52]:
for row in labels.iterrows():
    entry = row[1]
    activity = create_activity_window(
        path_to_data=path_to_data,
        exp_type="acc",
        exp_id=entry["experiment_id"],
        user_id=entry["user_id"],
        activity_id=entry["activity_id"],
        start_point=entry["start"],
        end_point=entry["end"],
    )
    break

In [53]:
activity

             x         y         z
250   1.020833 -0.125000  0.105556
251   1.025000 -0.125000  0.101389
252   1.020833 -0.125000  0.104167
253   1.016667 -0.125000  0.108333
254   1.018056 -0.127778  0.108333
...        ...       ...       ...
1227  1.019445 -0.134722  0.073611
1228  1.022222 -0.137500  0.077778
1229  1.025000 -0.137500  0.076389
1230  1.030556 -0.144444  0.079167
1231  1.016667 -0.143056  0.058333

[982 rows x 3 columns]

---
<a id='parameters'></a>

## 2. Parameters

bla

---
<a id='split'></a>

## 3. Model setup and Crossvalidation
<a id='NN'></a>
### 3.1 Bla?

bla

---
<a id='model-eval'></a>

## 4. Model Evaluation

bla

---
<a id='results'></a>

## 5. Results

bla

---
<a id='ref'></a>

## References

<p> [1] http://archive.ics.uci.edu/ml/datasets/Smartphone-Based+Recognition+of+Human+Activities+and+Postural+Transitions